{% extends 'layout.html' %}

{% set title = 'webserver' %}
{% set header = 'Contact' %}

{% block head %}
<div id="banner">
    <div class="container">
        <div class="row">
            <div class="6u 12u(mobile)">

                <!-- Banner Copy -->
                <p>Please direct any questions to the address:</p>
                <p>radoslaw.wrobel[at]gmx.com</p>

            </div>
            <div class="6u 12u(mobile)">

                <!-- Banner Image -->
                <a href="#" class="bordered-feature-image"><img src="images/banner.jpg" alt="" /></a>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

{% endblock %}
